extends layout

block onready
  script(type='text/javascript').
    $(function() {
      $('button#run').click(function() {
          var data = {
              message: $('textarea#message').val(),
              to: $('textarea#to').val(),
              from: $('textarea#from').val(),
              password: $('input#password').val()
          };
          $.post('/polly/test', data)
              .done(function (data) {
                  console.log(data);
              });
      });
    });

block content
  h1 Polly Tester
  p
    textarea#message(placeholder='Message')
  p
    input#to(type='text', placeholder='To phone number')
  p
    input#from(type='text', placeholder='From phone number')
  p
    input#password(type='password', placeholder='Password')
  p
    button#run Run